# =========================
# 🐘 Database Configuration
# =========================
DB_HOST=YOUR_DB_HOST
DB_PORT=YOUR_DB_PORT
DB_USER=YOUR_DB_USER
DB_PASSWORD=YOUR_DB_PASSWORD
DB_NAME=YOUR_DB_NAME
SSL_MODE=disable
TIMEZONE=Asia/Jakarta

# =========================
# 🛸 Kafka Configuration
# =========================
KAFKA_BROKERS=YOUR_KAFKA_BROKERS
KAFKA_SHIPMENT_GROUP_ID=YOUR_KAFKA_SHIPMENT_GROUP_ID
KAFKA_LOCATION_GROUP_ID=YOUR_KAFKA_LOCATION_GROUP_ID
KAFKA_NOTIFICATION_GROUP_ID=YOUR_KAFKA_NOTIFICATION_GROUP_ID

# =========================
# 🐰 RabbitMQ Configuration
# =========================
RABBITMQ_URL=YOUR_RABBITMQ_URL

# =========================
# 🌐 Server Configuration
# =========================
PORT=YOUR_PORT